<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('_head', {title: post.firstname + ' ' + post.lastname + '\'s Post'}) %>
  </head>
  <body onload="updateTimes()">
    <% include _logo.ejs %>

    <div id="content">

      <% include _singlepost.ejs %>

      <div id="comments">
        <% comments.forEach(function(comment) { %>
          <div class="comment">
            <div class="comment-header">
              <span class="name"><a href="/user/<%= comment.userid %>"><%= comment.firstname + ' ' + comment.lastname %></a></span> <span class="timeago comment-date" datetime="<%= moment(comment.createdat).format(dateLongFormat) %>"><%= moment(comment.createdat).fromNow(); %></span>
            </div>
            <div class="comment-body">
              <%= comment.content %>
            </div>
          </div>
        <% }) %>
      </div>
      <div id="comment-form">
        <form action="/comment/<%= post.postid %>" method="post" id="post">
          <textarea id="create-content" rows="6" maxlength="1000" name="commentContent" placeholder="Write something you fool!"></textarea>
        </form>
        <button class="button" type="submit" form="post">Post</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js" type="text/javascript"></script>
    <script src="/js/updateTimes.js" type="text/javascript"></script>
  </body>
</html>
